  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeedd0;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  /* border-bottom: 3px solid gold; */
  position: fixed;
  background-color: #010101cc;
  width: 100%;
  z-index: 1000;
}

.header .container {
   justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: gold;

}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: gold;
}



.titulo {
  color: gold;
  width: fit-content;
  font-weight: 500;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 10px;
  color: white;
  background-image: linear-gradient(0deg, white 1%, transparent 30%), url(".././assets/imgs/canvas.jpg");
  /* filter: brightness(0.7); */
  background-size: cover;
  /* height: 100vh; */
}

.banner .container {
   /* border: solid 3px blue; */
  height: 600px;
  font-size: 35px;
  justify-content: left;
  align-items: center;
  
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
  color: gold;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: white;
  display: flex;
}

.social .container{
  justify-content: center;
}

/* .box img {
  width: 500px;
} */

.social .container .boxes {
  display: flex;
  justify-content: center ;
  align-items: center;
}
.painel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.painel img{
  width: 500px;
}
.painel span{
  text-align: center;
}

.social .The_Lost_Canvas{
  width: 500px;
}

.The_Lost_Canvas {
  margin: 7%  7% ; 
  width: 40%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 140px;
  /* border: solid 3px green; */
  margin-left: 120px;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box i{
   display: flex; 
  margin-right: 225%;
  margin-top: 2%;
   /* align-items: center; */
  justify-content: space-between; 
}
#lost{
  height: 300px;
}
.box p {
  text-align: left;

}
.painel span{
  font-size: 30px;
  font-style: italic;
}


/* segundo social */
.social2 {
  background-color: white;
  display: flex;
}

.social2 .container2{
  justify-content: center;
}

/* .box img {
  width: 500px;
} */

.social2 .container2 .boxes2 {
  display: flex;
}
.painel2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.painel2 img{
  width: 500px;
}
.painel2 span{
  text-align: center;
}
.social2 .Tenma{
  width: 300px;
}

.Tenma {
  margin: 7%  7% ; 
  width: 40%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 140px;
  /* border: solid 3px green; */
  margin-left: 250px;
}


.social2 p {
  text-align: center;
  margin-top: 140px;
}

.box2 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box2 i{
   display: flex; 
  margin-right: 225%;
  margin-top: 2%;
   /* align-items: center; */
  justify-content: space-between; 
}
.box2 p {
  text-align: left;
  font-size: 20px;
}
.painel2 span{
  font-size: 30px;
  font-style: italic;
}
/* terceiro social */
.social3 {
  background-color: white;
  display: flex;
}

.social3 .container3{
  justify-content: center;
}

/* .box img {
  width: 500px;
} */

.social3 .container3 .boxes3 {
  display: flex;
}
.painel3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.painel3 img{
  width: 500px;
}
.painel3 span{
  text-align: center;
}
.social3 .Alone{
  width: 250px;
}

.Alone {
  margin: 7%  7% ; 
  width: 40%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 140px;
  /* border: solid 3px green; */
  margin-left: 250px;
}


.social3 p {
  text-align: center;
  margin-top: 140px;
}

.box3 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box3 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box3 i{
   display: flex; 
  margin-right: 225%;
  margin-top: 2%;
   /* align-items: center; */
  justify-content: space-between; 
}
.box3 p {
  text-align: left;
  font-size: 20px;
}
.painel3 span{
  font-size: 30px;
  margin-left: 40px;
  font-style: italic;
}

/* Quarto social */
.social4 {
  background-color: white;
  display: flex;
}

.social4 .container4{
  justify-content: center;
}

/* .box img {
  width: 500px;
} */

.social4 .container4 .boxes4 {
  display: flex;
}
.painel4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.painel4 img{
  width: 500px;
}
.painel4 span{
  text-align: center;
}
.social4 .Sasha{
  width: 250px;
}

.Sasha {
  margin: 7%  7% ; 
  width: 40%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 140px;
  /* border: solid 3px green; */
  margin-left: 250px;
}


.social4 p {
  text-align: center;
  margin-top: 140px;
}

.box4 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box4 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box4 i{
   display: flex; 
  margin-right: 225%;
  margin-top: 2%;
   /* align-items: center; */
  justify-content: space-between; 
}
.box4 p {
  text-align: left;
  font-size: 20px;
}
.painel4 span{
  font-size: 30px;
  margin-left: 40px;
  font-style: italic;
}
/* Quinto social */
.social5 {
  background-color: #d3d3d3;
  display: flex;
}

.social5 .container5{
  justify-content: center;
}

/* .box img {
  width: 500px;
} */

.social5 .container5 .boxes5{
  display: flex;
}
.painel5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.painel5 img{
  width: 500px;
}
.painel5 span{
  text-align: center;
}
.social5 .eu{
  width: 250px;
}

.eu {
  margin: 7%  7% ; 
  width: 40%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 140px;
  /* border: solid 3px green; */
  margin-left: 250px;
}


.social5 p {
  text-align: center;
  margin-top: 140px;
}

.box5 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box5 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box5 i{
   display: flex; 
  margin-right: 225%;
  margin-top: 2%;
   /* align-items: center; */
  justify-content: space-between; 
}
.box5 p {
  text-align: left;
  font-size: 20px;
}
.painel5 span{
  font-size: 30px;
  margin-left: 40px;
  font-style: italic;
}



/* FOOTER */

.footer {
  background-color: #eeedd0;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}
.final {
  color: #000
  ;
}


/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5 transparent ;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: gold;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 25px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: grey;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}